<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Providing quality  & private dental care</h1>
            <hr>
            <p>With practices across Dubai, Abu Dhabi, Sharjah & Ras Al Khaima</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<a style="position: fixed; bottom: 0; right: 0; background-color: #ffffff; padding: 10px 15px; font-weight: bold; z-index: 9999;" href="javascript:;" onclick="document.getElementById(&quot;BAAP&quot;).src=&quot;https://booking.bappnow.com/widget/embed.html?smilewelldxb&quot;; 
document.getElementById(&quot;BAAPHOLDER&quot;).style.display = &quot;block&quot;;">Book an Appointment</a>