<header style="background-image:  url('{{ page.image }}'  )">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ page.title }}</h1>
            <hr>
            <p>With practices across Dubai, Abu Dhabi, Sharjah & Ras Al Khaima</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
<a style="position: fixed; bottom: 0; right: 0; background-color: #ffffff; padding: 10px 15px; font-weight: bold; z-index: 9999;" href="javascript:;" onclick="document.getElementById('BAAP').src='https://booking.bappnow.com/widget/embed.html?smilewelldxb'; 
document.getElementById('BAAPHOLDER').style.display = 'block'">Book an Appointment</a>